{% extends 'base.html.twig' %}

{% block title %}Admin - Publications{% endblock %}

{% block body %}
    <h1 class="h3">Admin - Publications</h1>
    {% if pagination.getTotalItemCount > 0 %}
        <div class="filter-form">
            {{ form_start(form, {'attr': {'class': 'form-horizontal col-md-12'}}) }}

            <form action="{{ path('admin-publications') }}" class="form-horizontal">
                <div class="form-group">
                    <label>Author</label>
                    {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}

                    {% if form.author.vars.valid != true %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.author) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Status</label>
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}

                    {% if form.status.vars.valid != true %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.status) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="form_createdFrom">Created from</label>
                    {{ form_widget(form.createdFrom, {'attr': {'class': 'form-control col-md-3',}}) }}

                    {% if form.createdFrom.vars.valid != true %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.createdFrom) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="form_createdTo">Created to</label>
                    {{ form_widget(form.createdTo, {'attr': {'class': 'form-control'}}) }}

                    {% if form.createdTo.vars.valid != true %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.createdTo) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </form>
            {{ form_end(form) }}
        </div>
        <div class="posts-table">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Create data</th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in pagination %}
                        <tr>
                            <td>{{ post.createdAt }}</td>
                            <td>{{ post.author.email }}</td>
                            <td>{{ post.textStatus }}</td>
                            <td>{{ post.status }}</td>
                            <td>
                                <a href="{{ path('view-template-post', {'post': post.id}) }}">View post template</a>
                                <a href="{{ path('admin-publish-post', {'post': post.id}) }}">Publish</a>
                                <a href="{{ path('admin-decline-post', {'post': post.id}) }}">Decline</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'utils/pagination.html.twig' %}
    {% endif %}
    <p class="text-right">Total posts: {{ pagination.getTotalItemCount }}</p>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            // Called by Select2 to determine autocomplete request
            // query string parameters
            const getAjaxListData = function(params) {
                return {
                    q: params.term,
                    p: params.page
                };
            };

            // Turn the plain SELECT input into a Select2 element

            $('#publications_form_author').select2({
                placeholder: 'Search for a user',
                ajax: {
                    url: '{{ path('api-get-all-users') }}',
                    dataType: 'json',
                    delay: 250,
                    data: getAjaxListData,
                    cache: true,
                    tags: true
                }
            });
        });
    </script>
{% endblock %}