{% extends 'base.html.twig' %}

{% block title %}Admin - User list{% endblock %}

{% block body %}
    <h1 class="h3">Admin - User list</h1>
    <div class="admin-user-list">
        <div class="filter-form">
            {{ form_start(form, {
                'method': 'POST',
                'action': path('admin-user-list'),
                'attr': {'class': 'form-horizontal col-md-12'}}
            ) }}

            <form action="{{ path('admin-user-list') }}" class="form-horizontal" method="get">
                <div class="form-group">
                    <label>User</label>
                    <div class="ajax-search-collection">
                        <div class="search-container">
                            <input type="text"
                                   class="search-input form-control"
                                   placeholder="Search ..."
                                   data-search-url="{{ path('api-search-user-by-email') }}"
                                   data-multiple="false"
                            />
                            <div class="search-results"></div>
                        </div>
                        <div class="selected-list"></div>
                        {{ form_widget(form.user) }}
                    </div>

                    {% if form.user.vars.valid != true %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.email) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </form>
            {{ form_end(form) }}
        </div>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.textStatus }}</td>
                    <td>
                        {% if app.user.id != user.id %}
                            {% if user.isRegistered %}
                                <a href="{{ path('admin-block-user', {'user': user.id}) }}">Block</a>
                                <a href="{{ path('admin-activate-user', {'user': user.id}) }}">Activate</a>
                            {% elseif user.isActive %}
                                <a href="{{ path('admin-block-user', {'user': user.id}) }}">Block</a>
                            {% else %}
                                <a href="{{ path('admin-activate-user', {'user': user.id}) }}">Activate</a>
                            {% endif %}
                        {% else %}
                            <span>You can't block yourself</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagination|length == 0 %}
            <p>No Users by your request.</p>
        {% endif %}
        {% include 'utils/pagination.html.twig' %}
    </div>
{% endblock %}