<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        {# Logo #}

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Logo</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">

            {# Navigation #}

            <ul class="nav navbar-nav">
                {% if app.request.get('_route') == 'index' %}
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('index') }}">Home</a>
                    </li>
                {% endif %}

                {% if app.user %}
                    {% if app.request.get('_route') == 'my-profile' %}
                        <li class="active">
                            <a href="#">My profile</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('my-profile') }}">My profile</a>
                        </li>
                    {% endif %}

                    {% if app.request.get('_route') == 'create-post' %}
                        <li class="active">
                            <a href="#">Create post</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('create-post') }}">Create post</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

            {# Security #}

            <ul class="nav navbar-nav pull-right">
                {% if app.user %}
                    <li>
                        <a href="{{ path('logout') }}">Logout ({{ app.user.name }})</a>
                    </li>
                {% else %}
                    {% if app.request.get('_route') == 'register' %}
                        <li class="active">
                            <a href="#">Registration</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('register') }}">Registration</a>
                        </li>
                    {% endif %}

                    {% if app.request.get('_route') == 'login' %}
                        <li class="active">
                            <a href="#">Login</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('login') }}">Login</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>