{% extends 'base.html.twig' %}

{% block title %}Create post{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/select2.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal col-md-8'}}) }}

    <div class="form-group">
        <label class="control-label">Title</label>

        {{ form_widget(form.title, {
            'attr': {
                'class': 'form-control',
                'required': true,
                'placeholder': 'Title'
            }
        }) }}

        {% if form.title.vars.valid != true %}
            <div class="alert alert-danger">
                {{ form_errors(form.title) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="control-label">Tags</label>

        {{ form_widget(form.post_tags, {'attr': { 'class': 'form-control'}}) }}

        {% if form.post_tags.vars.valid != true %}
            <div class="alert alert-danger">
                {{ form_errors(form.post_tags) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="control-label">Content</label>

        {{ form_widget(form.content, {
            'attr': {
                'class': 'form-control',
                'required': true,
                'placeholder': 'Content'
            }
        }) }}

        {% if form.content.vars.valid != true %}
            <div class="alert alert-danger">
                {{ form_errors(form.content) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save draft" />
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            // Called by Select2 to determine autocomplete request
            // query string parameters
            const getAjaxListData = function(params) {
                return {
                    q: params.term,
                    p: params.page
                };
            };

            // Turn the plain SELECT input into a Select2 element

            $('#post_form_post_tags').select2({
                ajax: {
                    url: '{{ path('api-get-all-tags') }}',
                    dataType: 'json',
                    delay: 250,
                    data: getAjaxListData,
                    cache: true,
                    tags: true
                }
            });
        });

    </script>
{% endblock %}
