{{ form_start(form, {'attr': {'class': 'form-horizontal col-md-8'}}) }}

<div class="form-group">
    <label class="control-label">Title</label>

    {{ form_widget(form.title, {
        'attr': {
            'class': 'form-control',
            'required': true,
            'placeholder': 'Title'
        }
    }) }}

    {% if form.title.vars.valid != true %}
        <div class="alert alert-danger">
            {{ form_errors(form.title) }}
        </div>
    {% endif %}
</div>

<div class="form-group">
    <label class="control-label">Tags</label>

    <div class="ajax-search-collection">
        <div class="search-container">
            <input type="text"
                   class="search-input form-control"
                   placeholder="Search ..."
                   data-search-url="{{ path('api-search-tags') }}"
            />
            <div class="search-results"></div>
        </div>
        <div class="selected-list"></div>
        {{ form_widget(form.tags) }}
    </div>

    {% if form.tags.vars.valid != true %}
        <div class="alert alert-danger">
            {{ form_errors(form.tags) }}
        </div>
    {% endif %}
</div>

<div class="form-group">
    <label class="control-label">Content</label>

    {{ form_widget(form.content, {
        'attr': {
            'class': 'form-control',
            'required': true,
            'placeholder': 'Content'
        }
    }) }}

    {% if form.content.vars.valid != true %}
        <div class="alert alert-danger">
            {{ form_errors(form.content) }}
        </div>
    {% endif %}
</div>

<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Save draft" />
</div>

{{ form_end(form) }}