{% extends 'base.html.twig' %}

{% block title %}Post: {{ post.id }}{% endblock %}

{% block body %}
    <div class="post-view">
        <h1 class="h3">{{ post.title }}</h1>
        <div class="post-tags">
            {% for  tag in post.tags %}
                <label class="label label-success">{{ tag.name }}</label>
            {% endfor %}
        </div>
        <div class="post-content">
            {{ post.content|raw }}
        </div>
        <div class="additional-info">
            <div class="author">
                Author: <a href="{{ path('view-author', {'author': post.author.id}) }} ">{{ post.author.name }}</a>
            </div>
            <div class="rating">
                <i class="fas fa-thumbs-up" id="rating-up" data-url="{{ path('api-post-rating-up', {'post': post.id}) }}"></i>
                Rating:<span id="rating-counter">{{ post.rating }}</span>
                <i class="fas fa-thumbs-down" id="rating-down" data-url="{{ path('api-post-rating-down', {'post': post.id}) }}"></i>
            </div>
        </div>
        {% if post.comments|length > 0 %}
            <div class="comments">
                <p class="h3">Comments</p>
                <div class="comment-list">
                    {% for comment in post.comments %}
                        {% include 'comment/view.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/post-view.js') }}"></script>
{% endblock %}
